bson==0.4.3
click==6.6
dj-database-url==0.4.1
Django==1.8
django-admin-tools==0.8.0
django-starter-box==0.1.1
djangorestframework==2.3.13
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.4.1
pymongo==3.3.1
python-dateutil==2.2
pytz==2016.7
six==1.10.0
Werkzeug==0.11.11
gunicorn